[class*="col"] {
    background-color: #006cfa;
    border: solid 1px #fff;
    min-height: 100px;
}

.green {
    background-color: #00e265;
}

.row.nested {
    padding: 10px;
}

.txt {
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}