[class*="col"] {
    background-color: brown;
    border: solid 1px #fff;
    min-height: 100px;
}

.green {
    background-color: greenyellow;
}

.row.2 {
    padding: 10px;
}

.txt {
    color: #fff;
    display: flex;
    justify-content: center;
}